#mp-bottom {
	border-color: #e2e2e2;
}

.mp-box {
	border: 1px solid #aaa;
	padding: 0 0.5em 0.5em;
	margin-top: 4px;
}

.mp-h2 {
	background: #eee;
	border: 1px solid #aaa;
	border-color: #ddd;
	margin: 0.5em;
	padding: 0.2em 0.4em;
	font-size: 120%;
	font-weight: bold;
	font-family: inherit;
}

#sister-projects-list {
	display: flex;
	flex-wrap: wrap;
}

#sister-projects-list li {
	width: 33%;
	min-width: 20em;
	white-space: nowrap;
	flex: 1 0 25%;
	display: inline-block;
}

#sister-projects-list li > div:first-child {
	min-width: 50px;
	text-align: center;
}

#sister-projects-list li > div {
	display: inline-block;
	vertical-align: middle;
	padding: 6px 4px;
}

#sister-projects-list li span {
	font-weight: bold;
}

.plainlist ul {
	line-height: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
}

.plainlist ul li {
	margin-bottom: 0;
}

.wikipedia-languages > ul {
	list-style: none;
	text-align: center;
	clear: both;
}

.wikipedia-languages ul {
	margin-left: 0;
}

.wikipedia-languages-count-container {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 1em;
	margin: 0 auto;
}

.wikipedia-languages-prettybars {
	width: 100%;
	height: 1px;
	margin: 0.5em 0;
	background-color: #c8ccd1;
	/*flex-shrink: 1;*/
	/*align-self: center;*/
}

.wikipedia-languages-count {
	padding: 0 1em;
	white-space: nowrap;
}

.wikipedia-languages-langs {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	line-height: 1.6;
}

.wikipedia-languages-langs ul li {
	display: inline-flex;
	margin-right: 0.2rem;
}

.wikipedia-languages-langs ul li::after {
	padding-left: 0.2rem;
	content: " · ";
	font-weight: bold;
}

.wikipedia-languages-langs ul li:last-child::after {
	margin-right: 0;
	content: "";
}

.mw-portlet-lang {
    float: right;
}

.vector-menu-dropdown {
    position: relative;
}

.vector-dropdown > .vector-menu-heading:not(.mw-ui-icon-element) {
    display: flex;
  }

.vector-menu-checkbox {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  :not(:checked) > .vector-menu-checkbox {
    display: block;
  }

  .mw-ui-icon {
    font-size: initial;
    position: relative;
    display: inline-block;
    box-sizing: content-box !important;
    width: 1.25em;
    height: 1.25em;
    min-width: 1.25em;
    min-height: 1.25em;
    flex-basis: 1.25em;
    vertical-align: middle;
    line-height: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }

  .mw-ui-icon:not(.mw-ui-button) {
    border: 0;
  }

  .mw-ui-icon + span:not(:empty) {
    margin-left: 6px;
  }

  .mw-ui-button.mw-ui-quiet:not(.mw-ui-icon-element), .mw-ui-button.mw-ui-quiet.mw-ui-progressive:not(.mw-ui-icon-element), .mw-ui-button.mw-ui-quiet.mw-ui-destructive:not(.mw-ui-icon-element) {
    min-height: 32px;
  }

  .mw-ui-button.mw-ui-progressive.mw-ui-quiet {
    color: #3366cc;
    background-color: transparent;
    border-color: transparent;
  }

  .vector-menu-dropdown > .vector-menu-content {
  position: absolute;
  top: 100%;
  left: -1px;
  opacity: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: 3;
 }
  .vector-dropdown .vector-dropdown-content, .vector-dropdown > .vector-menu-content {
  background-color: #ffffff;
  border: 1px solid #a2a9b1;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  transition-property: opacity;
  transition-duration: 100ms;
  padding: 4px 0;
  width: max-content;
  max-width: 200px;
 }
 .vector-menu-dropdown > .vector-menu-content {
 visibility: hidden;
 }

 .vector-menu ul {
  list-style: none;
  margin: 0;
 }
 .vector-menu-dropdown .mw-list-item {
  padding: 0;
  margin: 0;
 }

 ul {
  list-style-position: inside;
 }