@import url(bottom.css);

.normak-header {
	background: #cef2e0 !important;
	border-color: #a3bfb1 !important;
}

.villem-header {
	background: #cedff2 !important;
	border-color: #a3b0bf !important;
}

.ratas-header {
	background: #ddcef2 !important;
	border-color: #afa3bf !important;
}

.normak-body,
.villem-body,
.ratas-body {
	display: flex;
	flex-direction: column;
	background: #f5fffa;
	border-color: #cef2e0 !important;
	width: 49%;
	align-self: stretch;
	flex-grow: 1;
	flex-basis: 500px;
	position: relative;
}

.ratas-body {
	background: #faf5ff;
	border-color: #ddcef2 !important;
	width: 100%;
}

.villem-body {
	background: #f5faff;
	border-color: #cedff2 !important;
}

figcaption {
	font-size: 12.4px;
	white-space: pre-line;
}

figure {
	float: left;
	width: min-content;
	margin: 0.5em 0.9em 0.4em 0em;
	font-size: calc(1em * 0.875);
	display: block;
	direction: ltr;
	line-height: 1.6;
}

.normak-body p,
.villem-body p,
.ratas-body p {
	direction: ltr;
	font-size: 0.95rem;
	line-height: 1.6;
	margin: 0.25rem 0;
}

.villem-ja-normak-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 0.25rem;
	flex-wrap: wrap;
}

.rata-fännid {
	width: 695px;
}
